/* Basic CSS setting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

header {
  height: 90px;
  position: fixed;
}

/*------ Login -------*/
.loginArea input {
  font-size: 1em;
}
.loginArea input:nth-of-type(1) {
  margin-top: 50px;
}

.loginArea input:nth-of-type(2) {
  margin-top: 30px;
}

@media (max-width: 1024px) {
  .imageArea {
    display: none;
  }
}
